In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
data=pd.read_csv(r'D:\Ishan\GeoVoyager-Project\Data\Countries.csv')

In [21]:
data.head()

,country_name,capital_city,currency,official_lang,population,area,continent,largest_city,independence_year,landmarks,national_animals,national_bird,govt_type,dish,Major Religions,leader,driving_side,national_sport,major_fest
0,Afghanistan,Kabul,AFN,"Dari, Pashto, Turkmen",40218234,652230.0,Asia,Kabul,1919-08-19,"['Bamiyan Buddhas', 'Minaret of Jam', ""Kabul's...",Snow Leopard,Golden Eagle,Islamic Emirate,"['Kabuli Pilaf', 'Mantu', 'Ashak']",Islam,Hibatullah Akhundzada,right,Buzkashi,Nowruz
1,Albania,Tirana,ALL,Albanian,2837743,28748.0,Europe,Tirana,1912-11-28,"['Butrint Archaeological Site', 'Llogara Pass'...",Golden Eagle,Golden Eagle,Republic,"['Tavë Kosi', 'Fërgesë', 'Byrek']",Islam,Bajram Begaj,right,Soccer,Independence Day
2,Algeria,Algiers,DZD,Arabic,44700000,2381741.0,Africa,Algiers,1962-07-05,"[""Al Qal'a of Beni Hammad"", 'Kasbah of Algiers...",Fennec Fox,NaN,Republic,"['Couscous', 'Chakchouka', 'Merguez']",Islam,Abdelmadjid Tebboune,right,Soccer,Revolution Day
3,American Samoa,Pago Pago,USD,"English, Samoan",55197,199.0,Oceania,Pago Pago,NaN,"['Aunu’u Island', 'Rainmaker Mountain', 'Ofu B...",NaN,NaN,Territory (USA),"['Palusami', 'Samoan Oka', 'Sapasui']",Christianity,Lolo Matalasi Moliga,right,American Football,American Samoa Flag Day
4,Andorra,Andorra la Vella,EUR,Catalan,77265,468.0,Europe,Andorra la Vella,1278,"['Grandvalira', 'Casa de la Vall', 'Sant Joan ...",NaN,NaN,Parliamentary Co-Principality,"['Trinxat', 'Andorran Cuttlefish', 'Escudella ...",Christianity,Xavier Espot,right,Soccer,Our Lady of Meritxell Day

In [22]:
data.columns

Index(['country_name', 'capital_city', 'currency', 'official_lang',
       'population', 'area', 'continent', 'largest_city', 'independence_year',
       'landmarks', 'national_animals', 'national_bird', 'govt_type', 'dish',
       'Major Religions', 'leader', 'driving_side', 'national_sport',
       'major_fest'],
      dtype='object')

In [23]:
data.isnull().sum().sort_values(ascending=False)

national_bird        158
national_animals     156
landmarks             61
govt_type             59
independence_year     58
dish                  58
leader                34
major_fest            31
national_sport        17
Major Religions       14
capital_city           4
largest_city           4
currency               3
official_lang          1
country_name           0
area                   0
population             0
continent              0
driving_side           0
dtype: int64

In [24]:
data.drop(columns=['national_bird','national_animals','largest_city','Major Religions','national_sport','major_fest','independence_year','dish','govt_type','leader','driving_side'],inplace=True)

In [25]:
data.shape

(250, 8)

In [26]:
data.head()

,country_name,capital_city,currency,official_lang,population,area,continent,landmarks
0,Afghanistan,Kabul,AFN,"Dari, Pashto, Turkmen",40218234,652230.0,Asia,"['Bamiyan Buddhas', 'Minaret of Jam', ""Kabul's..."
1,Albania,Tirana,ALL,Albanian,2837743,28748.0,Europe,"['Butrint Archaeological Site', 'Llogara Pass'..."
2,Algeria,Algiers,DZD,Arabic,44700000,2381741.0,Africa,"[""Al Qal'a of Beni Hammad"", 'Kasbah of Algiers..."
3,American Samoa,Pago Pago,USD,"English, Samoan",55197,199.0,Oceania,"['Aunu’u Island', 'Rainmaker Mountain', 'Ofu B..."
4,Andorra,Andorra la Vella,EUR,Catalan,77265,468.0,Europe,"['Grandvalira', 'Casa de la Vall', 'Sant Joan ..."

In [27]:
data['landmarks'].fillna('No Famous Landmark', inplace=True)

C:\Users\ISHAN\AppData\Local\Temp\ipykernel_19236\2622002824.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['landmarks'].fillna('No Famous Landmark', inplace=True)

In [28]:
data.isnull().sum()

country_name     0
capital_city     4
currency         3
official_lang    1
population       0
area             0
continent        0
landmarks        0
dtype: int64

In [29]:
data.dropna(inplace=True)

In [30]:
data.isnull().sum()

country_name     0
capital_city     0
currency         0
official_lang    0
population       0
area             0
continent        0
landmarks        0
dtype: int64

In [31]:
data.shape

(246, 8)

In [32]:
data.columns

Index(['country_name', 'capital_city', 'currency', 'official_lang',
       'population', 'area', 'continent', 'landmarks'],
      dtype='object')

In [33]:
import pandas as pd

# Example: Assuming `df` is your preprocessed DataFrame
data.to_csv('preprocessed_data.csv', index=False)